* text=auto !eol
CLRX/CMakeLists.txt -text svneol=unset#text/plain
CLRX/Config.h.in -text
CLRX/amdasm/Assembler.h -text
CLRX/amdasm/Disassembler.h -text
CLRX/amdbin/AmdBinGen.h -text
CLRX/amdbin/AmdBinaries.h -text
CLRX/amdbin/ElfBinaries.h -text
CLRX/amdbin/GalliumBinaries.h -text
CLRX/utils/CLIParser.h -text
CLRX/utils/Containers.h -text
CLRX/utils/MemAccess.h -text
CLRX/utils/Utilities.h -text
/CMakeLists.txt -text svneol=unset#text/plain
/COPYING -text
/Doxyfile.in -text
/Int128Detect.c -text
amdasm/AsmInternals.h -text
amdasm/CMakeLists.txt -text svneol=unset#text/plain
amdasm/Disassembler.cpp -text
amdasm/GCNDisasm.cpp -text
amdasm/GCNInstructions.cpp -text
amdbin/AmdBinGen.cpp -text
amdbin/AmdBinaries.cpp -text
amdbin/CMakeLists.txt -text svneol=unset#text/plain
amdbin/ElfBinaries.cpp -text
amdbin/GalliumBinaries.cpp -text
clwrapper/CLFunctions1.cpp -text
clwrapper/CLFunctions2.cpp -text
clwrapper/CLFunctions3.cpp -text
clwrapper/CLInternals.cpp -text
clwrapper/CLWrapper.h -text
clwrapper/CMakeLists.txt -text svneol=unset#text/plain
clwrapper/DispatchStruct.h -text
clwrapper/InternalDecls.h -text
programs/CMakeLists.txt -text svneol=unset#text/plain
programs/clrxdisasm.cpp -text
tests/CMakeLists.txt -text svneol=unset#text/plain
tests/GCNDisasmLabels.cpp -text
tests/GCNDisasmOpcodes.cpp -text
tests/cstrtofXTest.cpp -text
utils/CLIParser.cpp -text
utils/CMakeLists.txt -text svneol=unset#text/plain
utils/NumStringConv.cpp -text
utils/Utilities.cpp -text
