/*.kdev*
/*.o
/*~
/.cproject
/.directory
/.project
/.settings
/build
/build-*
/build32
/core
/debug
/debug-*
/debug32
/default
/default32
/make.deps
/optimized
/optimized32
/relwithdebinfo
/relwithdebinfo32
/svn-commit.tmp
tests/*.kdev*
tests/*.o
tests/*~
tests/.cproject
tests/.directory
tests/.project
tests/.settings
tests/build
tests/core
tests/debug
tests/default
tests/make.deps
tests/optimized
tests/relwithdebinfo
tests/svn-commit.tmp
