table {
    border: 1px solid #ccc;
    border-collapse: collapse;
}

table td {
    border: 1px solid #ddd;
}

table th {
    border: 1px solid #ccc;
    font-weight: normal;
    background-color: #ddd;   
}

dl dt {
    font-weight: bold;
}

code {
    background: #f0f0f0;
    border: 1px solid #e0e0e0;
    padding: 0.25em;
    white-space: pre;
    display: inline-block;
}
